@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
}

.admin-sidebar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
}

.admin-sidebar .nav-link {
  font-weight: bold;
  font-size: 16px;
  color: #3E3E3E;
  padding-left: 30px;
}

.admin-sidebar .nav-link:hover {
  color: #C6001F;
}

.admin-sidebar .nav-item.active .nav-link {
  color: #C6001F;
  padding-left: 25px;
}

.admin-sidebar .nav-item.active {
  border-left: 5px solid #C6001F;
}

.form-control,
.custom-select {
  border-radius: 2px;
}

.form-control:focus,
.custom-select:focus,
.custom-file-input:focus {
  border-color: rgba(199, 0, 31, 0.71);
  box-shadow: 0 0 0 0.2rem rgba(198, 0, 31, 0.21);
}

.admin-content {
  min-height: 100vh;
}
